.table {
  .scroll-content {
    padding: 20px;
    ion-icon:before {
      font-size: 38px;
    }
    ion-icon:active:before {
      opacity: 0.3;
    }
    h2 {
      margin: 0;
      padding: 15px 0 0;
      font-family: 'Jura', sans-serif;
      font-weight: 600;
      font-size: 240%;
      color: $main-txt;
    }
    h3 {
      margin: 0;
      padding: 0 0 15px;
      font-family: 'Jura', sans-serif;
      color: $main-txt;
    }
    .full-table {
      margin: 20px -20px 0;
      padding-top: 10px;
      overflow: scroll;
      h3 {
        width: 5.6%;
        margin: 1rem 0 auto 15px;
        padding-bottom: 20px;
        display: inline-table;
        font-size: 165%;
        font-family: 'Jura', sans-serif;
        font-weight: 600;
        @media (max-width: 390px) {
          padding: 15px !important;
          text-align: left !important;
        }
        @media (max-width: 390px) {
          width: 100%;
          padding: 0 15px;
          margin: 0;
          text-align: center;
          writing-mode: initial;
        }
      }
      table {
        width: auto;
        font-family: "Roboto Slab", sans-serif;
        tr {
          &.odd {
            background: $odd-table-bg;
          }
          &.even {
            background: $even-table-bg;
          }
          td {
            padding: 7px;
            text-align: center;
            font-size: 120%;
            font-weight: 600;
            font-family: 'Jura', sans-serif;
            word-wrap: break-word;
            box-sizing: border-box;
            &:first-child {
              width: 5%;
            }
          }
          &:nth-child(1) {
            font-size: 160%;
            font-weight: bold;
            td {
              border: none;
            }
          }
          &:nth-child(2) {
            background: $accent-table-bg;
            td {
              padding: 5px;
              width: 30%;
              &:first-child {
                width: 1%;
                border: none;
              }
            }
          }
        }
      }
    }
    .hide {
      display: none;
    }
  }
}
