$white: #E0E0E0;

scroll-content {
  padding: 20px;
  ion-icon {
    border-radius: 50%;
  }
  ion-icon:before {
    font-size: 38px;
    color: $main-txt;
    width: 40px;
    height: 40px;
    display: block;
    text-align: center;
  }
}
ion-refresher {
  margin-top: 5px;
  .refresher-pulling-text {
    font-size: 18px;
    color: $white;
  }
  .refresher-pulling-icon {
    font-size: 32px;
    color: $white;
  }
  ion-spinner.spinner-crescent circle {
    stroke: $white;
  }
}
