.filter {
  h2 {
    font-family: 'Ubuntu', sans-serif;
    font-weight: 300;
    font-size: 240%;
    color: $main-txt;
    text-align: center;
  }
  ion-slides {
    .swiper-container {
      padding-bottom: 45px;
      ion-slide {
        h2 {
          margin-top: 0;
          margin-bottom: 20px;
          padding-top: 40px;
        }
        .button-group {
          button {
            width: calc(50% - 10px);
            min-width: 100px;
            height: 60px;
            margin: 5px;
            display: block;
            background: $button;
            font-size: 2.5rem;
            font-family: 'Jura', sans-serif;
            font-weight: 600;
            float: left;
            border-radius: 0;
          }
        }
      }
      .swiper-pagination {
        button {
          background: $border;
        }
      }
    }
  }
}
