.welcome {
  background: #313134;
  .scroll-content {
    padding: 0;
    .container {
      width: 100%;
      height: 100%;
      position: absolute;
      display: flex;
      justify-content: center;
      align-items: center;

      $colors: #2172b8
               #18a39b
               #82c545
               #f8b739
               #f06045
               #ed2861
               #c12680
               #5d3191;

      $inner: 30px;
      $border: 6px;
      $spacing: 1px;

      * {
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
      }

      section.wrapper {
        padding: 40px 0;
      }

      div.spinner {
        -moz-animation: rotate 10s infinite linear;
        -webkit-animation: rotate 10s infinite linear;
        animation: rotate 10s infinite linear;
        position: relative;
        display: block;

        margin: auto;

        $size: $inner + length($colors) * ($border + $spacing) * 2;

        width: $size;
        height: $size;

        i {
          -moz-animation: rotate 3s infinite cubic-bezier(0.09, 0.6, 0.8, 0.03);
          -webkit-animation: rotate 3s infinite cubic-bezier(0.09, 0.6, 0.8, 0.03);
          animation: rotate 3s infinite cubic-bezier(0.09, 0.6, 0.8, 0.03);
          -moz-transform-origin: 50% 100% 0;
          -webkit-transform-origin: 50% 100% 0;
          transform-origin: 50% 100% 0;

          position: absolute;
          display: inline-block;

          top: 50%;
          left: 50%;

          border: solid $border transparent;
          border-bottom: none;

          @each $current in $colors {
            $i: index($colors, $current);

            &:nth-child(#{$i}) {
              $size: $inner + $i * ($border + $spacing) * 2;

              -moz-animation-timing-function: cubic-bezier(.09, .3 * $i, .12 * $i, .03);
              -webkit-animation-timing-function: cubic-bezier(.09, .3 * $i, .12 * $i, .03);
              animation-timing-function: cubic-bezier(.09, .3 * $i, .12 * $i, .03);

              width: $size;
              height: $size / 2;

              margin-top: -$size / 2;
              margin-left: -$size / 2;

              border-color: $current;

              border-top-left-radius: $inner + $i * $border;
              border-top-right-radius: $inner + $i * $border;
            }
          }
        }
      }

      @-moz-keyframes rotate {
        to {
          -moz-transform: rotate(360deg);
          transform: rotate(360deg);
        }
      }
      @-webkit-keyframes rotate {
        to {
          -webkit-transform: rotate(360deg);
          transform: rotate(360deg);
        }
      }
      @keyframes rotate {
        to {
          -moz-transform: rotate(360deg);
          -ms-transform: rotate(360deg);
          -webkit-transform: rotate(360deg);
          transform: rotate(360deg);
        }
      }

    }
  }
}
